//-page
section#page
  article.boxed
    ul.feature-box
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li
        h2(title='Lorem ipsum dolor', href='#').entypo-clock Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      
  //- end page