//-page
section#page
  article.boxed
    ul.feature-box.nolist
      li.one_quarter
        h2
          i.icon-something
          a(title='Lorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='Lorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='Lorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='Lorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='PLorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='CLorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='Lorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
      li.one_quarter
        h2
          i.icon-something
          a(title='Lorem ipsum dolor', href='#') Lorem ipsum dolor
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisl non rutrum lacinia, nibh neque vehicula odio.
  //- end page