.boxed
  .animated.slideInLeft
    | Parley js is a trademark of Visualbound. Copyright © 2014
    a(href='http://twitter.com/visualbound', title='Visualbound', target='_blank') Visualbound
    | . Website built with ♥
    a(href='//mattmark.me', title='Matt Mark', target='_blank') Matt Mark
    | .