nav#secondary
  .boxed
    #logo-footer
      a(href='//parleyjs.github.io.com')
        img(src='#', alt='Parley JS')
    ul
      li.current-item
        a(href='#') Welcome
      li
        a(href='#') Demos
      li
        a(href='#', title='Documentation') Documentation
      li
        a(href='//www.npmjs.org/package/parleyjs', title='Parley on NPM') NPM
      li
        a(href='//github.com/parleyjs/parley.js', title='Github') Github
      li
        a(href='#', title='Parley Issues') Issues
      li
        a(href='//twitter.com/parleyjs', title='parley on Twitter') Twitter
