.boxed
  // nav
  nav#secondary
    #logo-foot
      a(href='#')
        img(src='#', alt='parley js')
    ul
      li.current-item
        a(href='#') Welcome
      li
        a(href='#') Demos
      li
        a(href='#', title='Documentation') Documentation
      li
        a(href='https://www.npmjs.org/package/parleyjs', title='npm') npm
      li
        a(href='//github.com/parleyjs/parleyjs', title='Github') Github
      li
        a(href='#', title='forums') Forums
      li
        a(href='//twitter.com/parleyjs', title='Parley on Twitter') Twitter