.boxed
    //- tagline
    #tagline.animated.bounceInUp
      h1 The open source chat client for everyone.
      h2 easily implemented into an existing site or application
    //- end tagline
    //- callto action
    a.button.large.animated.shake(href='#') Quickstart
        a.button.large.animated.shake(href='#') Learn More
        a.button.large.animated.shake(href='#') See Demos
    //- end callto action
    //- background image animation
    #header_image.animated.fadeIn(style='background: url(http://www.fillmurray.com/g/1025/385) top center no-repeat;')
    //- end background image animation