head
  title = Parley.js | Chat App
  link(rel="stylesheet", href="stylesheets/main.min.css")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  // needs fallback for local
  script(src="scripts/app.js")
