header
  .wrapper
    .logo
      a PARLEY JS
    nav
      ul.main
        li
          a SOMETHING
        li
          a SOMETHING
        li
          a SOMETHING
        li
          a SOMETHING
      .menu-icon
        nav
          a#menu-toggle.button(href='#')
            span.menu-bar.bar1
            span.menu-bar.bar2
            span.menu-bar.bar3