article.boxed
  ul#quote.nolist.textcenter.aligncenter
    li.animated.flipInX
      .quote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod.
      .person Zoe Bartlet
    li.animated.flipInX
      .quote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod.
      .person Charlie Daniels
    li.animated.flipInX
      .quote
        p Lorem ipsum dolor sit amet.
      .person Sam Seaborn
    li.animated.flipInX
      .quote
        p Lorem ipsum dolor sit amet!
      .person Christopher Bartlet