article.boxed
  ul#quote
    li
      .quote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod.
      .person Zoe Bartlet
    li
      .quote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod.
      .person Charlie Daniels
    li
      .quote
        p Lorem ipsum dolor sit amet.
      .person Sam Seaborn
    li
      .quote
        p Lorem ipsum dolor sit amet!
      .person Christopher Bartlet