section.sidebar
  nav.menu
    .logo
      img(src='http://parley-js.s3.amazonaws.com/parleyJs-final.png' alt="Parley JS")
    .label menu:
    ul
      li
        a(href="/profile") Profile
      li
        a(href="/projects") Projects
      li
        a(href="/journal") Journal
    hr
  nav.contact
    .label  contact:
    ul
      li
        a imagineux@gmail.com
      li
        a 763 300 4168
      li
    hr
    li.social
      a.entypo-behance
      a.entypo-linkedin
      a.entypo-github
      a.entypo-twitter