/* Authored Dependencies */
@import global/normalize
@import global/mixins
@import global/variables
@import global/lists
@import global/typography

@import url(http://weloveiconfonts.com/api/?family=entypo)

/* entypo */
[class*="entypo-"]:before
  font-family: 'entypo', sans-serif


/*wrapper*/
.container
  margin: 0
  padding: 0
  width: 100%
  display: flex
  flex-direction: column
  background: $white
  @media only screen and (min-width: 64.000rem) 
    flex-direction: row
.border
  background: $border-blue-color
  bottom: 0
  height: .75rem
  width: 100%
  z-index: 90002
  position: fixed

nav.mobile
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  
/* Sections */
/*Header*/
header
  width: 100%
  display: flex
  justify-content: center
  .toggle-mobile
    position: absolute
    top: 2rem
    right: 2rem
    color: $gray
    font-family: $minion-pro
    font-style: italic
    cursor: pointer
  
  .logo
    img
      padding: 3.875rem 1.875rem 1.25rem
    
  

/* nav and sidebar*/
section.mobile
  margin: 0
  padding: 0
  min-width: 100%
  background: $bg-gray
  display: flex
  flex-direction: column
  border-bottom: 1px solid $gray-border
  @media only screen and (min-width: 64.000rem) 
    display: none
  
nav.mobile
  ul
    display: flex
    flex-direction: column
    width: 100%
    padding: 0
    li
      display: flex
      justify-content: center
      width: 100%
      border-top: 1px solid $gray
      &:nth-child(1)
        border: none
      
      a
        font-family: $wigrum
        font-weight: 500
        font-style: normal
        letter-spacing: .25rem
        color: $gray
        font-size: 1.125rem
        text-transform: uppercase
        padding: 1rem 0
        cursor: pointer
    
section.sidebar
  z-index: 1000
  padding: 3.875rem 3.25rem
  position: absolute
  top: 0
  bottom: 0
  background: $bg-gray
  border-right: 1px solid $gray-border
  display: flex
  flex-direction: column
  justify-content: space-between
  @media only screen and (max-width: 64.000rem) 
    display: none
  .label
    color: $gray
    font-size: 1.125rem
    font-style: italic
    font-weight: 500
    text-transform: lowercase
    font-family: $minion-pro
  hr
    border-bottom: 2px solid $gray !important
    width: 1.125rem !important
    margin-top: 0
  
nav.menu
  .logo
    display: flex
    img
      width: 11rem
      padding-bottom: 2.5rem
  ul
    padding: 1rem 0 1.25rem 0
    li
      line-height: 1.75rem
      a
        font-family: $wigrum
        font-size: 1.25rem
        letter-spacing: .25rem
        text-transform: uppercase
        font-weight: 600
        font-style: normal
        &:hover
          @include transition( all 0.8s )
          color: $light-red
          cursor: pointer
nav.contact
  font-family: $wigrum
  font-weight: 500
  font-style: normal
  ul
    padding: 1rem 0 1.25rem 0
    li
      cursor: pointer
  hr
    margin: 1rem 0 
  li.social
    margin-top: 1rem
    display: flex
    justify-content: space-between
    width: 8rem
    a:hover
      @include transition( all 0.8s )
      color: $light-red
      cursor: pointer
/*main section*/
main.content
  display: flex
  flex-direction: column
  flex: 1
  padding: 1.25rem
  @media only screen and (min-width: 64.000rem) 
    margin-left: 17.5rem
    padding: 3rem

  h1
    color: $dark-gray
    font-size: 2.5rem
    font-family: $wigrum
    font-weight: 500
    font-style: normal
    @media only screen and (min-width: 64.000rem) 
      font-size: 4rem
    span
      margin-left: 1rem
      color: $gray
  hr
    border-bottom: 1px dotted $gray
    margin-top: 0


