// Vendor Dependencies
///////////////////////////////////////////////////////

// Authored Dependencies
///////////////////////////////////////////////////////
@import global/normalize
@import global/variables
@import global/typography
@import global/mixins
@import global/extends

// Patterns
///////////////////////////////////////////////////////
@import global/lists
@import patterns/buttons
@import patterns/animations

// Sections
///////////////////////////////////////////////////////
@import layouts/body
@import layouts/header
@import layouts/navigation
// shame
///////////////////////////////////////////////////////
@import global/shame


// base stuff
///////////////////////////////////////////////////////
*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box