// Vendor Dependencies
///////////////////////////////////////////////////////
@import "../../node_modules/node-bourbon/assets/stylesheets/_bourbon.scss"
@import "../../node_modules/node-neat/assets/stylesheets/_neat.scss"
// Authored Dependencies
///////////////////////////////////////////////////////
@import global/normalize
@import global/variables
@import global/typography
@import global/mixins
@import global/extends

// Patterns
///////////////////////////////////////////////////////
@import global/lists

// Sections
///////////////////////////////////////////////////////
@import layouts/body
@import layouts/header

// shame
///////////////////////////////////////////////////////
@import global/shame


// base stuff
///////////////////////////////////////////////////////
*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box