* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.unstyledList, ul.main, nav.mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background: white;
  color: #384047;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

header {
  background: #f5f8fa;
  width: 100%;
  height: 3.75rem;
  color: #384047;
}

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.625rem 1rem;
  display: flex;
  justify-content: space-between;
}

.wrapper nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-self: center;
  margin: 0;
}

.logo a {
  font: inherit;
  font-size: 1.75rem;
}

ul.main {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0;
}

ul.main li {
  margin-left: 1rem;
}

.button {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
  padding-top: 0.75rem;
  transition: all 500ms;
}

.menu-bar {
  display: block;
  position: relative;
  background: #384047;
  width: 1.625rem;
  height: 0.125rem;
  border-radius: 1px;
  transition: all 300ms;
  margin: 0 auto;
}

.bar1 {
  top: 0;
  animation: topbar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.bar2 {
  opacity: 1;
}

.bar3 {
  bottom: 0;
  animation: bottombar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.menu-bar + .menu-bar {
  margin-top: 0.3125rem;
}

.toggled .bar1 {
  top: 25%;
  animation: topbar-x 500ms;
  animation-fill-mode: both;
}

.toggled .bar2 {
  opacity: 0;
}

.toggled .bar3 {
  bottom: 25%;
  animation: bottombar-x 500ms;
  animation-fill-mode: both;
}

@keyframes topbar-x {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  45% {
    top: 25%;
    transform: rotate(145deg);
  }

  75% {
    transform: rotate(130deg);
  }

  100% {
    transform: rotate(135deg);
  }
}
@keyframes topbar-back {
  0% {
    top: 25%;
    transform: rotate(135deg);
  }

  45% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes bottombar-x {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }

  45% {
    bottom: 25%;
    transform: rotate(-145deg);
  }

  75% {
    transform: rotate(-130deg);
  }

  100% {
    transform: rotate(-135deg);
  }
}
@keyframes bottombar-back {
  0% {
    bottom: 25%;
    transform: rotate(-135deg);
  }

  45% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
nav.mobile {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav.mobile ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #999999;
}

nav.mobile ul li:nth-child(1) {
  border: none;
}

nav.mobile ul li a {
  font: inherit;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.25rem;
  color: #999999;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 1rem 0;
  cursor: pointer;
}

.menu-icon {
  margin-left: 1rem;
}

.hide {
  display: none !important;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
