// Variables
///////////////////////////////////////////////////////
$black: hsla(0, 0%, 15%, 1)
$dark-gray: hsla(208, 12%, 25%, 1)
$medium-gray: hsla(225, 3%, 26%, 1)
$gray: hsla(0, 0%, 60%, 1)
$light-gray: hsla(195, 29%, 97%, 1)
$white: hsla(0, 100%, 100%, 1)
$light-red: hsla(0, 80%, 64%, 1)
$red: hsla(0, 80%, 56%, 1)
$light-green: hsla(138, 54%, 59%, 1)
$green: hsla(138, 54%, 49%, 1)
$light-blue: hsla(205, 50%, 47%, 1)
$blue: hsla(205, 51%, 40%, 1)
$dark-blue: hsla(205, 51%, 30%, 1)
$gray-button: hsla(208, 12%, 76%, 1)
$gray-border: hsla(210, 12%, 71%, 1)
$light-yellow: hsla(52, 100%, 87%, 1)

// font stuff
$base-font-color: $gray
$base-accent-color: $gray