ul
  margin: 0
  padding: 0

@import url(http://weloveiconfonts.com/api/?family=entypo)

/* entypo */
[class*="entypo-"]:before
  font-family: 'entypo', sans-serif
  /*vars*/
$header-bg: hsla(240, 1%, 42%, 1)
$white: hsla(0, 100%, 100%, 1)
$bg-gray: hsla(0, 0%, 91%, 1)
$blue:hsla(205, 50%, 47%, 1)
$gray: hsla(0, 0%, 60%, 1)

/*vars end*/
body
  background: $bg-gray
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  color: $gray