// Main
///////////////////////////////////////////////////////
body
  -webkit-font-smoothing: antialiased
  background: $light-gray
  color: $c-base
  font-family: $f-base
  line-height: $b-lineHeight