nav#primary
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 100%
  background: $white
  position: relative
  border-bottom: 1px solid $light-gray
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.03)
  z-index: 999
  height: 4.5625rem
  .boxed
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 64rem
    margin: 0 auto
  ul
    @extend .unstyledList
    display: flex
    flex-direction: row
    > li
      a
        font-size: 0.75rem
        font-weight: 600
        letter-spacing: 1px
        text-transform: uppercase
        color: $gray
        padding: 0 0 0 1.5625rem

#logo-head
  transition: 250ms linear all
  display: flex
  flex-direction: column
  justify-content:center
  &:hover
    margin-top: -2px

nav#primary ul li.current-item a,
nav#primary ul li a:hover
  color: #f4645f
