html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="scripts/app.js")
body
  header
    .wrapper
      .logo
      nav.main
  main
    section.group
      header.group

      nav.group
        ul.main
          li
            a.truncate.active University Student Government
          li
            a Members
          li
            a Events
          li
            a Photos
          li.toggle-more
            a More
              span.entypo-down-open
            ul#more-info
              li
                a Forms
              li
                a Links
              li
                a Downloads
        ul.join
          li
            button.blue Member
    .main-content
      aside.aside
        nav.group-aside
          ul
            li
              a.title about
             li
              a.entypo-graduation-cap  340 members
      section.main
        nav.group-about
          ul
            li
              a Group Profile
        article.about
          p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.