html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="scripts/app.js")
  body
    .border
    .container
      section.mobile
        header
          .toggle-mobile menu
          .logo
            img(src='http://site-marketing-images.s3.amazonaws.com/2013/mvd-ps/img/mattmark-logo.png' alt="Matt Mark")
        nav.mobile
          ul
            li
              a Profile
            li
              a Projects
            li
              a Journal
            li
              a Contact
      section.sidebar
        header.sidebar
          .logo
        nav.menu
          h2 menu:
          ul
            li
              a Profile
            li
              a Projects
            li
              a Journal
        nav.contact
          h2 contact:
          ul
            li
              a imagineux@gmail.com
            li
              a 763 300 4168
            li
              a.facebook
              a.linkedin
              a.github
              a.twitter

      main.content








