html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    // needs fallback for local
    script(src="scripts/app.js")
body
  #wrapper
    header
      .wrapper
        .logo
          a THE URBAN BEAN
        nav
          ul.main
            li
              a LOCATIONS
            li
              a GALLERY
            li
              a SHOP
            li
              a CONTACT
          .menu-icon
            nav
              a#menu-toggle.button(href='#')
                span.menu-bar.bar1
                span.menu-bar.bar2
                span.menu-bar.bar3
    nav.mobile
      ul
        li
          a LOCATIONS
        li
          a GALLERY
        li
          a SHOP
        li
          a CONTACT