html
  include includes/head
  body
    #wrapper
      //- header
      header#header(role='header')
        include includes/header
      
      //- end header
      //- navigation
      nav#primary
        include includes/nav
      //- end navigation
      //- content
      main#content
        include includes/content
      //- end content
      //- section for quotes
      section#quotes
        include includes/quotes
      //- end section for quotes
      //- footer
      footer#footer
        include includes/footer
      //- end footer
      //- copyright
      section#copyright.textcenter
        include includes/copyright
        